.Main{
    white-space: pre-line;
    text-align: left;
    color:black;
    display: flex;
    flex-direction: column;
    margin: 1em;
    align-items: flex-start;
    img{
        border-radius: .5em;
        box-shadow: 0px 0px 20px 1px grey;
    }
}